<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068778830655-geovi0c52e26bv9gpec6sbc8vfp0292k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068778830655-geovi0c52e26bv9gpec6sbc8vfp0292k</string>
	<key>API_KEY</key>
	<string>AIzaSyBywTlhnmeGK4KBfP3UHX1avXuoh5mSoas</string>
	<key>GCM_SENDER_ID</key>
	<string>1068778830655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tonroitman.InstagramFirestore</string>
	<key>PROJECT_ID</key>
	<string>instagramfirestore-f090f</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirestore-f090f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068778830655:ios:ef467f27122017215b318a</string>
</dict>
</plist>